<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Toy application demoing useful tech.">
    <meta name="author" content="@gotoariel">

    <title>Graph of GOOG Data</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />

    <style>
    body {
      padding-top: 70px;
    }
    </style>

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>

</script>-->
	{{ script | safe }}
  </head>

  <body>
      <!-- navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
            <span class="sr-only">Toggle navigation</span>
            </button>
            <span class="navbar-brand">Ticker Lookup App</span>
          </div>

          <div class="collapse navbar-collapse" id="nav-1">
            <ul class="nav navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <!--li class="nav-item">
                <a class="nav-link" href="https://github.com/thedataincubator/flask-framework">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.thedataincubator.com/12day.html">12-day</a>
            </li>-->
            </ul>
          </div>
        </div>
      </nav>


  <!-- graph -->
	  <!--div class="container">
	<div class="row">-->


<!--div class="bk-root">
  <div class="bk-plotdiv" id="d263b8a8-1bdf-4da0-9edf-c4ef77f34264"></div>
</div>-->

  {{ div | safe}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
